/* 해기님 트게더 (해게더) 모바일 CSS */
/* 제작 : 듀얼스크린 (Twitch 닉네임) */
/* 최종 수정 : 2021-03-13 */

/* 적용 방법 : 아래 한 줄의 코드를 모바일 뷰 CSS 칸에 입력
@import url("https://omg6.github.io/tgd-haegi/css/mobile.css");
*/

/* 실 적용 전 W3 CSS 검사 필요
주소 : https://jigsaw.w3.org/css-validator/#validate_by_input */


/* 웹폰트 불러오기 (티머니 둥근바람) */
/* 출처 : https://noonnu.cc/font_page/459 */
@font-face
{
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 내부에 적용 */
body
{
	font-family: 'TmoneyRoundWindRegular';
}


/* 트게더 로고 배너 부분 */
header
{
    background: #F7F5E8; /* 로고 배너 배경 색 */
    border-bottom: 4px solid #BCA92C; /* 로고 배너 하단 구분선 색 */
}

/* 해게더 로고 삽입 */
header>#header-area>a>h1
{
	/* 해바라기 그림 제거된 로고 */
	background: url(https://cdn.discordapp.com/attachments/817410187199512678/817413426954764328/tgd-haegi-logo.png) no-repeat; /* img > hgd_logo_mobile_without_sunflower */
	background-size: auto 32px;
	width: 90px;
}

/* 좌측 메뉴 버튼 색상 변경 */
header>#header-area>#header-bar-link
{
	display: inline-block;
	color: #dbde00;
}

/* 좌측 메뉴 버튼 색상 변경 (좌측 네비게이션 영역 활성화 후) */
nav#nav>#nav-upper>#header-close-bar-link
{
	display: inline-block;
	color: #dbde00;
}

/* 트게더 전체 메뉴 영역 색상 변경 (좌측 네비게이션 영역 활성화 후) */
nav#nav>.nav-header
{
	background: #FFB09D;
}

/* 배경 색상 변경 및 로고 추가 (좌측 네비게이션 영역 활성화 후) */
nav#nav
{
	background: url(https://i.ibb.co/wwXRhZR/697959b9c11122dd23873245db23ee0d.png), #FFF8C8;
	background-repeat: no-repeat;
	background-position: center center;
}

/* 검색 버튼 색상 변경 */
header>#header-area>#header-search-link
{
	display: inline-block;
    color: #dbde00;
    font-size: 24px;
	padding: 0 16px 8px;
}

/* 검색창 닫기 버튼 설정 변경 (검색창 활성화 후) */
header>#header-search-bar #header-close-search-btn
{
	display: inline-block;
    color: #dbde00;
    font-size: 24px;
	padding: 0 16px 8px;
}

/* 검색창 설정 변경 (검색 버튼 클릭 후 상단에 표기되는 검색창) */
header > #header-search-bar #header-search-input
{
	position: relative;
    border: 3px solid #dbde00;
    background: #fff;
    font-size: 1.1em;
    padding: 0.2em 0.5em;
    border-radius: 15px;
}

/* 검색 버튼 색상 변경 (검색창 활성화 후) */
header>#header-search-bar #header-search-btn
{
	display: inline-block;
    color: #dbde00;
    font-size: 24px;
	padding: 0 16px 8px;
}

/* 트게너 배너 바로 아래에 게시되는 트게더 자체 광고 문구 */
#header-top-notice strong.notice-badge
{
    background: #2CE1D9; /* "광고" 문구의 배경 색 설정 */
}

/* 프로필 이미지 크기 확장 전 여백 공간 설정 */
#board-info
{
	border-color: #BCA92C;
	border-width: 2px;
	height: 70px;
}

/* 프로필 이미지 옆 폰트 글씨 크기 조절 (키움 - 임시제거) */
/*
#board-info > h1
{
	font-size: 18px; default = 16px
}*/

/* 프로필 이미지 크기 확장 */
#board-info h1 > #board-info-profile-img
{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	z-index: 1;
	border-style: solid;
	border-width: 2px;
	border-color: #5AA1F5;
}

/* 라이브 문구 전 이미지 삽입 (미사용) */
/* 
#board-info h1 > a.badge.badge-live::before
{
	content: url(https://cdn.discordapp.com/attachments/817410187199512678/817723964205694976/2_edited.png);
}*/

/* 라이브 배경 설정 및 기존 문구 숨기기 */
#board-info h1 > a.badge.badge-live
{
	background: #FF00FF;
	font-size: 0px;
}

/* 라이브 문구 이후 텍스트 삽입 */
#board-info h1 > a.badge.badge-live::after
{
	font-size: 14px;
	content: "⊙ 방송중";
}

/* 게시판 점수 가리기 */
#board-info #score-area
{
	display: none;
}

/* 접속자 수 색깔 및 글자 크기 설정 */
#board-info #viewers-area
{
	color: #898685;
	font-size: 12px;
}

/* 트게더 접속인원 아이콘 변경*/
#board-info #viewers-area .fa-user:before
{
	content: url(https://static-cdn.jtvnw.net/badges/v1/cb273ad9-4317-414c-bc32-69ce8e6d6ee7/1); /* 12M sub icon - 18x18 */
	/* 15x15 - resize - 1 sub
	content: url(https://cdn.discordapp.com/attachments/817410187199512678/817727394525216778/3_resize.png);
	*/
}

/* 트게더 접속인원 숫자 앞에 들어갈 문구 */
#board-info #viewers-area #viewers:before
{
	content: "해 바라기 ";
	cursor: text;
}

/* 트게더 접속인원 숫자 뒤에 들어갈 문구 */
#board-info #viewers-area #viewers:after
{
	content: " 명";
	cursor: text;
}

/* 게시판 종류 (상단) 설정 */
#article-list #article-list-category
{
	border-color: #ffd400;
	border-style: double;
	border-width: 8px;
	margin-top: 3px;
	margin-bottom: 5px;
}

/* 공지 글 (상단) 설정 */
#article-list>.article-list-row.notice
{
    background-color: #FEC6B9; /* 배경 색 */
	border-width: 3px;
	border-color: #FF80C0;
	margin-bottom: 5px;
	border-style: solid;
}

/* 인기 글 (상단) 설정 */
#article-list>.article-list-row.hot
{
    background-color: #FFF298; /* 배경 색 */
	border-width: 3px;
	border-color: #DEC300;
	margin-bottom: 5px;
	border-style: solid;
}

/* 공지 글 문단의 "공지" 문구 아이콘으로 변경 */
/* 아이콘 원본 출처 : https://iconmonstr.com/audio-5-png/ */
#article-list>.article-list-row.notice>.item>.list-header>strong
{
	content: url(https://cdn.discordapp.com/attachments/817410187199512678/817739587018424330/iconmonstr-audio-5-24.png); /* img > hgd_notice_icon.png */
}

/* 인기 글 문단의 "인기" 문구 아이콘으로 변경 */
/* 아이콘 원본 출처 : https://iconmonstr.com/thumb-10-png/ */
#article-list>.article-list-row>.item>.list-header>b
{
	content: url(https://cdn.discordapp.com/attachments/817410187199512678/817740086320955402/iconmonstr-thumb-10-24.png); /* img > hgd_hot_icon.png */
}

/* 일반 글 설정 */
#article-list>.article-list-row
{
    background-color: #FFFCE8; /* 배경 색 */
	border-width: 2px;
	border-color: #FFE94F;
	margin-bottom: 5px;
	border-style: solid;
}

/* 별 회전 관련 키프레임 설정 */
@keyframes spin
{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* 일정 추천 이상 받으면 표기되는 별 아이콘 PC처럼 돌아가게 (글 전체) */
span.a-badge i.fa.fa-star
{
	animation: spin 2s infinite;
	color: #FF0097;
}

/* 트게더 주인이 준 하트 설정 변경 */
small.favo i.fa.fa-heart
{
	color: #FF6400;
	/* 하트 다른 아이콘으로 대체 (미사용)
	content: url(https://cdn.discordapp.com/attachments/817410187199512678/817933930489577542/he0901heart_resize.png); img > hgd_heart_icon.png 
	*/
}

/* 스트리머가 추천한 글의 제목 우측에 표기되는 하트 키프레임 설정 */
small.favo i.fa.fa-heart
{
	animation : heartbeat 2s infinite;
}

/* 키프레임 설정 (하트 크기 커졌다 작아졌다) */
/* 출처 : https://tgd.kr/c/css/19699825 글의 댓글 (Million_Air) */
@keyframes heartbeat
{
	
	0% { transform : scale(1); }
	30% { transform : scale(1.25); }
	42% { transform : scale(0.9); }
	60% { transform : scale(1.15); }
	85% { transform : scale(0.95); }
	100% { transform : scale(1); }
}

/* 글 쓰기 버튼 설정 */
#article-list-menu>.btn.write
{
	background: #FFABFC;
}

/* 하단 검색창 설정 */
#boardSearchForm .form-control
{
    border-radius: 50px;
}

/* 푸터 (하단) 설정 */
footer
{
	background: #FFF8C8;
}

/* 버튼류 통합설정 */
/* 출처 : 해게더 PC CSS */
.btn.square
{
    border-radius: 120px;
    border: 1.5px solid #e5e5e5;
    font-size: 12px;
}

.btn-primary
{
    color: #fff;
    background-color: #00bb3a;
    border-color: #2e6da4;
}

/* 위로가기 버튼 가리기 (기존) */
#movetotop img
{
	display:none
}

/* 위로가기 버튼 수정 */
#movetotop
{
	display: inline-block;
	opacity: 1;
	background: url(https://static-cdn.jtvnw.net/emoticons/v2/302330916/default/light/2.0); /* img > hgd_ggyu_icon.png */
	width: 50px;
	height: 50px;
	background-size: contain;
}

/* 트게더 글 내부 설정 */
/* 추천 버튼 설정 */
.btn-outline-success
{
	color: #0070FF;
	border-color: #0070FF;
}
