/* 해기님 트게더 (빠게더) 모바일 CSS */
/* 적용 방법 : @import url("https://omg6.github.io/tgd-haegi/css/mobile.css"); */


/* 트게더 로고 삽입 */
header>#header-area>a>h1
{
	/* 해바라기 제거 로고 */
    background: url(https://cdn.discordapp.com/attachments/817410187199512678/817413426954764328/tgd-haegi-logo.png) no-repeat;

    background-size: auto 32px;

    width: 100px;
}

/* 접속자 수 */
/* 접속자 수 글씨 색 */
/*
#board-info #viewers-area
{
    color: #;
}*/

/* 숫자 앞에 들어갈 문구 */
#board-info #viewers-area #viewers:before
{
    content: "해 바라기 ";
    cursor: text;
}

/* 숫자 뒤에 들어갈 문구 */
#board-info #viewers-area #viewers:after
{
    content: " 명";
    cursor: text;
}