/* 해기님 트게더 (해게더) PC CSS [겨울 스킨 | 적용 일자 : 2021-10-31 이후] */
/* 제작 : omg7_ (TwitchTV ID, email : ohmygirl7@naver.com) */
/* 최종 수정 일자 : 2021-10-31 */

/* !!! 해당 코드 일체 또는 일부의 무단 복제, 스크랩 등은 불가능합니다. !!! */
/* !!! 출처가 표기된 일부 소스는 해당 출처를 통해 직접 확인해주시고, 문의사항 발생시 상단의 이메일로 연락 바랍니다. !!! */

/* 적용 방법 : 아래 한 줄의 코드를 데스크톱 뷰 CSS 칸에 입력
@import url("https://omg6.github.io/tgd-haegi/css/pc.css");
*/

/* !! 실 적용 전 W3C CSS Validator 점검 필요 (제작자 기준) !! */


/* 웹폰트 불러오기 ( 이사만루 Light | 출처 : https://noonnu.cc/font_page/462 ) */
/* 후보 2 : https://noonnu.cc/font_page/676 (원스토어 모바일POP체, 다 좋은데 좀 두꺼움...) */
@font-face
{
	font-family: 'GongGothicLight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 폰트 내부에 설정 */
body
{
	font-family: 'GongGothicLight';
}

/* 마우스 커서 설정 - 기본 */
/* 출처 : https://tgd.kr/s/bellhidira/32073772 */
/* 마우스 아이콘 출처 : https://www.flaticon.com/free-icon/sunflower_1466040 */
html, body, .fr-popup.emoticons, .fr-top, select.form-control, input[type=checkbox], input[type=radio], .opt
{
	cursor: url(https://cdn.discordapp.com/attachments/817410187199512678/821394714434994206/cursor_sunflower_edited.png) 0 0, auto !important; /* img > cursor_sunflower_edited */
}

/* 마우스 커서 설정 - 변경 */
/* 마우스 아이콘 출처 : https://www.flaticon.com/free-icon/sunflower_1035922 */
#right-search-form>#right-search-btn, #board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn, #article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged, .reply-menu, .btn, .fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn,
.fr-view img, .pull-left, a
{
	cursor: url(https://cdn.discordapp.com/attachments/817410187199512678/820127336925495316/sunflower_2.png) 0 0, auto !important; /* img > cursor_sunflower_2 */
}

span#viewers, #article-list #boardSearchForm .form-control, .fr-view, .fr-box.fr-basic.fr-element, input[type='text']
{
	cursor: url(https://cdn.discordapp.com/attachments/817410187199512678/820127336925495316/sunflower_2.png) 0 0, auto !important;
}
/* 마우스 커서 설정 끝 */

/* 배경에 눈 내리는 효과 */
/* 출처 : https://tgd.kr/c/css/18728438 (일부 참고) */
/* 배경화면 출처 : https://www.freepik.com/free-vector/flat-design-winter-landscape-concept_6073476.htm */
/* 효과에 사용된 아이콘 출처 (눈) : https://www.flaticon.com/free-icon/snowflake_3915582 */
html
{
	background: url(https://cdn.discordapp.com/attachments/817410187199512678/903672686985748530/tgd_background_winter_cut__no_moon.png); /* img_pc > tgd_background_winter_cut__no_moon.png (3094x3040) */
	background-size: cover; /* 배경화면 화면에 꽉 차게 설정 */
	height: auto !important;
}

/* 눈 내려가는 키프레임 */
/* 해당 키프레임 적용시 Edge 환경에서 CPU 점유율이 급상승하는 문제가 있음...! 제거해야 저사양 친화적인 페이지가 될 것으로 추정됨. */
@keyframes snow_falls
{
	0% { background-position: 0px 0px; }
	100% { background-position: 500px 1000px; }
}

body
{
	background: transparent;
	animation: snow_falls 20s linear infinite;	
	background-image: url('https://cdn.discordapp.com/attachments/817410187199512678/903677254519881798/bg_effect_snow.png'); /* 백그라운드 이미지로 미리 설정한 이미지 삽입 */
}
/* 배경에 눈 내리는 효과 끝 */


/* 기존 트게더 이미지 가리기 */
header .row > div:nth-child(1) > a img
{
	display: none;
}

/* 해게더 로고 삽입 */
header .row > div:nth-child(1) > a
{
	display : block;
	width : 170px;
	height : 67px;
	background : url(https://cdn.discordapp.com/attachments/817410187199512678/903688868736405504/tgd_logo_winter.png) no-repeat; /* img > tgd_logo_winter.png */
}

/* 각 항목 외부 경계 설정 (통합) */
header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame
{
	border: 9px double #15D500;
	border-radius: 19px;
}

/* 좌측 트게더 전체 메뉴 헤더 부분 설정 */
#main .menu-wrapper > .header
{
	background: #15D500;
	color: #fff;
	padding: 0.45em 1.4em 0.45em 1em;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
}

/* 좌측 트게더 전체 메뉴 중간 간격 설정 */
#main .menu-wrapper .spacer
{
	background: #15D500;
	height: 0.20em;
}

/* 보더 부분 높이 확장 (프로필, 닉네임, 트게더 링크 출력되는 부분) */
#board-info
{
	height: 91px;
}

/* 트게더 접속인원 부분 색상 설정 */
#board-info #viewers-area
{
	color: #FF41E2;
	font-weight : bold;
}

/* 트게더 접속인원 아이콘 변경*/
#board-info #viewers-area .fa-user:before
{
	content: url(https://static-cdn.jtvnw.net/badges/v1/cb273ad9-4317-414c-bc32-69ce8e6d6ee7/1); /* 12M sub icon - 18x18 */
}

/* 트게더 접속인원 숫자 앞에 들어갈 문구 */
#board-info #viewers-area #viewers:before
{
	content : "해 바라기 ";
	cursor : text;
}

/* 트게더 접속인원 숫자 뒤에 들어갈 문구 */
#board-info #viewers-area #viewers:after
{
	content : " 명";
	cursor : text;
}

/* 방송중일 경우에는 프로필 이미지의 링크가 트게더가 아닌 방송 화면으로 전환되는 오류를 발생하기 위해 방송 뱃지 이전의 요소를 제거하는 부분 (2021-03-28) */
#board-info h1 > a.badge.badge-live:before
{
	display: none;
}

/* 방송 진행 중 활성화되는 라이브 문구 배경 설정 및 기존 문구 숨기기 */
#board-info h1 > a.badge.badge-live
{
	background: #FF00FF;
	font-size: 0px;
}

/* 방송 진행 중 활성화되는 라이브 문구 이후 텍스트 삽입 */
#board-info h1 > a.badge.badge-live:after
{
	position: static;
	background: #FF00FF;
	font-size: 12px;
	content: "⊙ 방송중";
	border: 0px;
}

#main .menu-wrapper a:nth-last-child(1)
{
	border-radius : 0 0 15px 15px;
}

/* 카테고리 부분 설정 (게시판 이름들 표기되는 공간) */
#article-list #article-list-category
{
	background: #fff0;
	border: 10px double #8EC6FF;
	margin-bottom: 7px;
	border-radius: 8px;
}

#article-list #article-list-category > a
{
	margin-top: 0px;
	background: #ffffff;
	transition-duration: .7s;
}

/* 스트리머가 추천한 글의 제목 우측에 표기되는 하트 키프레임 설정 */
small.favo i.fa.fa-heart
{
	animation : heartbeat 2s infinite;
}

/* 키프레임 설정 (하트 크기 커졌다 작아졌다) */
/* 출처 : https://tgd.kr/c/css/19699825 글의 댓글 (Million_Air) */
@keyframes heartbeat
{
	0% { transform : scale(1); }
	30% { transform : scale(1.25); }
	42% { transform : scale(0.9); }
	60% { transform : scale(1.15); }
	85% { transform : scale(0.95); }
	100% { transform : scale(1); }
}

#article-list > .article-list-row > .item > .list-title > small.favo
{
	font-size : 11px;
	line-height : 13px;
	position : relative;
	text-align : center;
	padding : 0 2px;
	color : #ff0000;
	word-break : break-word;
	border-radius : 0px;
	top : 3px;
	float : left;
}

header #right-search-form > input[type="text"], header #right-search-form > #right-search-btn
{
	transition : 0.2s;
}

header #right-search-form > input[type="text"]:hover, header #right-search-form > input[type="text"]:focus
{
	transform : scale(1.05);
	transition : 0.2s;
}

header #right-search-form > #right-search-btn:hover, header #right-search-form > #right-search-btn:focus
{
	transform : scale(1.25);
	transition : 0.2s;
}


/* 별 회전 관련 키프레임 설정 */
@keyframes spin
{
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* 일정 추천 이상 받으면 표기되는 별 아이콘 PC처럼 돌아가게 (글 전체) */
span.a-badge i.fa.fa-star
{
	animation : spin 2s infinite;
	color: #FF0097;
}

/* 기존 프로필 이미지 가리기 */
#board-info #board-info-profile-img
{
	display: none;
}

/* 프로필 이미지 크게 설정 및 클릭시 개인 트게더 메인으로 가도록 설정 (프로필 2 설정과 일부 내용 공유) */
/* 출처 : https://tgd.kr/c/css/39686721 (댓글) */
/* 하단의 프로필 2 다른 이미지 적용을 원할 경우 하단의 소스 활용 */
/* #board-info h1>a:before, #board-info h1>a:after */
#board-info h1>a:before
{
	content: '';
	background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/958f2503-bd4a-467b-8368-db91dcd07749-profile_image-300x300.png) no-repeat; /* img_original > he0901_profile_211030_300x300 */
	background-size: 140px;
	background-position: right;
	/* (Outdated) background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/4db4a8d6-3b61-4e47-8f5a-92d6154869b3-profile_image-300x300.png) 0 0/92px 92px no-repeat; /* img_original > he0901_profile_211029_300x300 */
	/* (Outdated) background: url(https://static-cdn.jtvnw.net/jtv_user_pictures/293de023-1cae-45b9-8d3a-58766642ca7c-profile_image-300x300.png) 0 0/91px 91px no-repeat; /* img_original > he0901_profile_210316_300x300 */
	position: absolute;
	width: 95px;
	height: 95px;
	margin-top: -29px;
	top: 43px;
	left: 38px;
	z-index: 100; 
	border: #009BFF solid 2px;
	border-radius: 100px;
}

/* 프로필 이미지 기준 우측에도 새로운 프로필 이미지 추가 (프로필 2 - 다른 이미지 적용) */
/* 2021-10-29 임시 제거 */
/*
#board-info h1>a:after
{
	background: url(https://cdn.discordapp.com/attachments/817410187199512678/822484325416828928/fanart_by_shardion_original.png) -20px -20px/140px 140px no-repeat; /* img_pc > fanart_by_shardion_original.png
	left: 775px;
}
*/

/* 프로필 이미지에 마우스 올리면 커지도록 설정 (프로필 1,2 동시 적용) */
#board-info h1>a:hover:before, #board-info h1>a:hover:after
{
	transform: scale(1.10); /* 크기가 커짐 */
	transition: .20s; /* 0.2초에 걸쳐서 부드럽게 애니메이션이 진행 */
}


/* 닉네임, 트게더 링크 표기 부분 마진 설정 (프로필 사진 바로 옆 부분) */
#board-info h1, #board-info #board-info-bottom
{
	margin-left: 110px;
	margin-right: 7px;
	/* 프로필 2 적용시 하단의 크기 활용할 것 (2021-10-29 프로필 2 임시 제거 관련) */
	/* margin-right: 110px; */
	padding-left: 4px;
}

/* 닉네임 하단의 트게더 관련 링크 표기 부분 상단 패딩 설정 */
#board-info #board-info-bottom
{
	padding-top: 6px;
}

/* 트게더 관련 링크 출력 부분 색상 설정 */
#board-info #board-info-bottom a
{
	color: #494949;
}

/* 닉네임, 트게더 링크 사이 선 색상 설정 및 닉네임 색상 진하게 설정 */
#board-info h1
{
	border-bottom: 2px solid #94D5FF;
	font-weight: bold;
	margin-top: 13px;
	padding-bottom: 5px;
}

#article-list>.article-list-row:hover
{
	transform: scale(1.02); /* 크기가 커짐 */
	transition: .20s; /* 0.2초에 걸쳐서 부드럽게 애니메이션이 진행 */
	background-color: #ffead4;
}

/* 읽은 글 색상 설정 (모바일과 PC는 소스가 약간 다름) */
#article-list>.article-list-row>.item>.list-title>a:visited
{
	color: #AAAAAA !important;
}

/* 매니저 아이콘 가리기 (칼) */
img[src="https://static-cdn.jtvnw.net/chat-badges/mod.png"]
{
	display: none; 
}

/* 공지글 설정 */
#article-list > .article-list-row.notice
{
	background-color: #FEC6B9; /* 배경 색 */
	border-width: 3px;
	border-color: #FF80C0;
	border-style: solid;
	margin-top: 5px;
}

/* 인기글 설정 */
#article-list>.article-list-row.hot
{
	border: 3px solid #dec300;
	background-color: #fff298;
	margin-top: 4px;
}

/* 공지 글 문단의 "공지" 문구 아이콘으로 변경 */
/* 아이콘 원본 출처 : https://iconmonstr.com/audio-5-png/ */
#article-list>.article-list-row.notice>.item>.list-header>strong
{
	content: url(https://cdn.discordapp.com/attachments/817410187199512678/817739587018424330/iconmonstr-audio-5-24.png); /* img > icon_notice.png */
}

/* 인기 글 문단의 "인기" 문구 아이콘으로 변경 */
/* 아이콘 원본 출처 : https://iconmonstr.com/thumb-10-png/ */
#article-list>.article-list-row>.item>.list-header>b
{
	content: url(https://cdn.discordapp.com/attachments/817410187199512678/817740086320955402/iconmonstr-thumb-10-24.png); /* img > icon_hot.png */
}

/* 일반글 설정 */
#article-list>.article-list-row
{
	border: 1px solid #91A2B0;
	/* default settings
	border-left: 1px dotted  #45637b;
	border-right: 1px solid  #45637b;*/
	margin-top: 4px;
	margin-bottom: 4px;
}

/* 인기 글 보기 버튼 설정 (소스 시작 모바일과 약간 다름) */
#article-list #article-list-menu>.btn.best
{
	color: #FFF;
	background: #6DADFF;
	border-color: #7C7C7C;
}

/* 글 쓰기 버튼 설정 (소스 시작 모바일과 약간 다름) */
#article-list #article-list-menu>.btn.write
{
	background: #FFABFC;
	border-color: #7C7C7C;
}

/* 선택된 페이지 색상 변경 */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
 .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
	background-color: #00C9FF;
	border-color: #00C9FF;
}

/* 하단 검색창 설정 */
#boardSearchForm .form-control
{
	border-radius: 50px;
}

/* 버튼류 전역 설정 */
.btn.square
{
	border-radius: 120px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
}
.btn-primary
{
	color: #fff;
	background-color: #00bb3a;
	border-color: #2e6da4;
}

/* 하단 검색창 버튼 별도 보더 경계 설정 (둥글게) */
button.btn.square.btn-default
{
	border-radius: 50px;
}

/* 글 목록 내 좌측 추천수 관련 */
#article-list > .article-list-row > .item > .list-header > span
{
	background-color : #FF86BA;
	color : #fff;
	font-weight : bold;
	padding : 1px 5px;
	font-size : 12px;
	border-radius : 10px;
}

/* 상단 우측의 트게더 검색 창 설정 */
header #right-search-form>input[type=text]
{
	position: relative;
	border: 3px solid #19ff00;
	background: #fff;
	font-size: 1.1em;
	padding: 0.3em 0.5em;
	border-radius: 100px;
}

/* 상단 우측의 검색 버튼 설정 (트게더 검색 옆) */
header #right-search-form>#right-search-btn
{
	color: #19ff00;
	background: transparent;
	border: none;
	font-size: 1.4em;
}

.fr-command.fr-emoticon[data-param1=PorscheWIN] > img
{
	width: 30px !important; 
	height: 30px !important; 
	padding-left: 30px;
	padding-bottom : 30px;
	background-image: url(https://i.ibb.co/XYtPxY6/ezgif-7-1f059ae8b76e.gif); /* img > unknown_img_pc.gif */
	background-size: 100%;
} 


.fr-emoticon.fr-deletable > img[alt=PorscheWIN]
{
	width: 100px !important;
	height: 100px !important;
	padding-left: 100px;
	padding-bottom : 100px;
	background-image: url(https://i.ibb.co/XYtPxY6/ezgif-7-1f059ae8b76e.gif); /* img > unknown_img_pc.gif */
	background-size: 100%;
}

/* 위로가기 버튼 가리기 (기존) */
#movetotop img
{
	display: none
}

/* 위로가기 버튼 수정 */
#movetotop
{
	display: inline-block;
	opacity: 1;
	background: url(https://static-cdn.jtvnw.net/emoticons/v2/302330916/default/light/3.0);
	width: 70px;
	height: 70px;
	background-size: contain;
}


/* 트게더 글 내부 설정 */

/* 추천 버튼 설정 */
.btn-outline-success
{
	color: #0070FF;
	border-color: #0070FF;
	padding: 11px;
}

/* 추천 버튼 설정 (마우스 올릴 때) */
.btn-outline-success:hover
{
	background-color: #0070FF;
}

/* 비추천 버튼 설정 */
.btn-outline-primary
{
	color: #FF4795;
	border-color: #FF4795;
	padding: 11px;
}

/* 비추천 버튼 설정 (마우스 올릴 때) */
.btn-outline-primary:hover
{
	background-color: #FF4795;
}

/* 게시물 제목 좌측 마진 설정 */
#article-info>h2
{
	margin-left: 4px;
}

/* 글 작성자 부분 상단 여백 증가 */
#article-info #article-info-writer
{
	margin-top: 5px;
	margin-left: 6px;
}

/* 글 작성자 프로필 이미지 경계 설정 및 우측 마진 설정 */
#article-info>.article-profile-img
{
	border: 2px solid #FF42E7;
	margin-right: 3px;
}

/* 글 내부 제목 ~ 닉네임 부분 위아래 여백 늘리기 */
#article-info
{
	border-top: #FFF 5px solid; /* color - width - style 순서 */
	border-bottom: #FFF 5px solid; /* color - width - style 순서 */
}

/* 글 작성 시간, 댓글, 추천수, 조회수 뜨는 부분 색상 조절 및 간격 조절 */
#article-content-wrapper>.header
{
	border-top: #00B6FF 4px solid;
	border-left: #00B6FF 4px solid;
	border-right: #00B6FF 4px solid;
	background: #C0FFF9;
	padding: 0.6em 1.0em; /* 시간 ~ 조회수 부분 좌우 간격 약간 조정 */
}

/* 게시글 외부 경계선 설정 (+추천 부분) */
#article-content-wrapper #article-content, #article-content-wrapper>.vote-area
{
	border-left: #00B6FF 4px solid;
	border-right: #00B6FF 4px solid;
}

/* 게시글 내부 배경이미지 설정 (중앙 부분에 표기 - 추후 이미지 또는 위치 등 변경 예정) */
/* 사용된 아이콘 출처 : https://www.flaticon.com/free-icon/winter_2768265 (투명도 조절은 자체적으로 수행) */
#article-content-wrapper #article-content
{
	background: url(https://cdn.discordapp.com/attachments/817410187199512678/904239621309874236/post_bg_winter_opacity_40per.png); /* img > post_bg_winter_opaticy_40per.png */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15em;
}

/* 글 하단 부분 색상 조절 (목록, 신고, 스크랩, 수정, 삭제 위치한 버튼 라인) */
#article-content-wrapper>.footer
{
	background: #C0FFF9;
	border-left: #00B6FF 4px solid;
	border-right: #00B6FF 4px solid;
	border-bottom: #00B6FF 4px solid;
}

/* 신고 버튼 색상 변경 (목록 버튼 옆 위치) */
.btn-outline-danger
{
	background-color: #FA8072;
	color: #FFF;
}

/* 댓글 n 개 표기 부분 (+ 우측 역삼각형 버튼) 색상 변경 */
#article-reply-area>.header h5, a#lastc
{
	color: #FF6800;
}

/* 베스트 댓글 외부 스타일 변경 */
#article-reply-area #reply-best-area .reply
{
	background-color: #FFF; /* 배경 색 */
	border-width: 0.26em;
	border-color: #6500D8;
	margin-bottom: 10px;
	border-style: solid;
	margin-top: 10px; /* 댓글 시작 전 상단 마진 */
	margin-left: 5px; /* 댓글 좌측 마진 (게시글 부분 안으로 들어가게 하기 위해) */
	margin-right: 5px; /* 댓글 우측 마진 (게시글 부분 안으로 들어가게 하기 위해) */
}

/* 베스트 댓글 작성자 부분 배경 설정 */
#article-reply-area #reply-best-area .reply > .reply-header
{
	background: #D3FFFB;
	border-bottom-color: #6500D8; /* 사용자 정보 ~ 댓글 사이 선 색상 설정 */
	border-bottom-width: 0.21em;
}

/* 댓글 창 외부 스타일 변경 (베스트 댓글 제외) */
#article-reply-area #reply-real-area .reply
{
	background-color: #FFF; /* 배경 색 */
	border-width: 3px;
	border-color: #00CFD9;
	margin-bottom: 10px;
	border-style: solid;
	margin-top: 10px; /* 댓글 시작 전 상단 마진 */
	margin-left: 5px; /* 댓글 좌측 마진 (게시글 부분 안으로 들어가게 하기 위해) */
	margin-right: 5px; /* 댓글 우측 마진 (게시글 부분 안으로 들어가게 하기 위해) */
}

/* 댓글 작성자 부분 설정 (베스트 댓글 제외) */
#article-reply-area #reply-real-area .reply>.reply-header
{
	background-color: #FDDBFF;
	border-bottom-color: #00CFD9; /* 사용자 정보 ~ 댓글 사이 선 색상 설정 */
	border-bottom-width: 2px;
}

/* 댓글 창 내부 스타일 변경 (베스트 댓글 제외) */
#article-reply-area #reply-real-area .reply>.reply-content, #article-reply-area #reply-best-area .reply>.reply-content
{
	background-color: #FFF;
}

/* 대댓글 좌측 마진 설정 */
#article-reply-area #reply-real-area .reply.d-1, #article-reply-area #reply-best-area .reply.d-1
{
	margin-left: 2.5em;
}

/* 댓글 작성 창 외부 경계 설정 (상단) */
.fr-toolbar.fr-top
{
	border-top: 5px solid #FCCDFF;
}

/* 댓글 작성 창 외부 경계 설정 (상단 + 하단 좌,우,하단 경계) */
.fr-toolbar.fr-top, .fr-box.fr-basic.fr-top .fr-wrapper
{
	margin-left: 5px;
	margin-right: 5px;
	border-left: 2px solid #FCCDFF;
	border-right: 2px solid #FCCDFF;
	border-bottom: 2px solid #FCCDFF;
}

/* 댓글 쓰기 버튼 우측 들여쓰기 및 상단 여백 (댓글 작성 창 하단 부분) */
#comment-write-form #comment-write-button-area
{
	margin-top: 10px;
	margin-right: 6px;
}

/* 윗글, 아랫글 부분 간격 조절 (댓글 쓰기 버튼 하단 두줄 부분) */
#article-neighbor-list
{
	padding: 0 1.6em;
}

/* 쓰기 버튼 위치 조절 (새 글 작성하기 페이지 내부 하단의 쓰기 버튼 - 경계에 치우쳐져 있던 문제 수정) */
#article-write-button.btn.btn-primary.pull-right
{
	margin-right: 16px;
}

/* 메인으로 사용한 배경의 출처 남기기 (Freepik 라이센스 규칙) */
footer:after
{
	content: "Background, Icon Designed by Freepik";
}

/* 드롭다운 메뉴 내부 설정 (아래화살표, 프로필 등 클릭시 표기되는 작은 창) (2021-04-05) */
.dropdown-menu
{
	border: 3px solid #F663FF;
	background: url(https://cdn.discordapp.com/attachments/817410187199512678/904239621309874236/post_bg_winter_opacity_40per.png), #FFFFFF;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 130px;
}

/* 드롭다운 메뉴 내부 글자 관련 설정 (2021-04-05) */
.dropdown-menu>li>a
{
	line-height: 1.8;
}

/* 드롭다운 메뉴 내부 선택시 투명도 설정 (2021-04-05) */
.dropdown-menu>li>a:hover
{
	opacity: 80%;
}

/* 해게더 자체 광고바 추가 (2021-04-10) */
header #header-bar:after
{
	position: relative;
	left: -15px; /* 좌측 길이 조절용 */
	width: 103%;
	margin-top: 20px; /* 상단 마진 */
	padding: 6px; /* 내부 간격 */
	text-align: center;
	background: #ffffffa6;
	border-radius: 19px;
	/* 일반내용 게시용 */
	color: #1000ff;
	border: 9px double #15D500;
	/* 중요내용 게시용 (테두리 및 색상 강조 등) */
	/*
	color: blue;
	font-weight: bold;
	border: 9px double #ffb300;
	*/
	content: "\1F498  " "방송일정 : 매일 오후 10시 또는 트게더 공지　|　정기 휴방일 : 목, 일" "  \1F498";
	/* 유니코드 출처 : https://unicode-table.com/kr/1F498/ */
}